{% extends 'ds/base.html' %}
{% load i18n %}

{% block title %}
    <title>{% trans "Login" %}</title>
{% endblock%}

{% block main %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Login" %}</button>
    </form>
    <br>
    <p>
        <a href="{% url 'password_reset' %}">
           {% trans "Reset password" %}
        </a>
    </p>

    {% trans "Login with" %} <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
{% endblock%}