{% extends 'ds/base.html' %}
{% load i18n %}


{% block title %}

    <title>{% trans "Manager Panel" %}</title>

{% endblock%}

{% block main %}
  <h2>
    {% trans "Manager panel" %}
  </h2>

<style>
  table, th, td {
  border: 1px solid;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>
<div>
   <h4>Subscription requests:</h4>

    <table class="styled-table">
         <tr>
             <th>Order date</th>
             <th>Sub ID</th>
             <th>Offer</th>
             <th>User ID</th>
             <th>email</th>
             <th>phone_number</th>
             <th>status</th>
          </tr>
        {% for item in new_subscriptions %}
            <tr>
              <th>{{ item.order_date }}</th>
              <th>{{ item.id }}</th>
              <th>{{ item.offer }}</th>
              <th>{{ item.user.id }}</th>
              <th>{{ item.email }}</th>
              <th>{{ item.phone_number }}</th>
              <th>{{ item.get_status_display }}</th>
              <th>
                  <form method="post">
                     {% csrf_token %}
                     <input hidden type="number" value="{{ item.id }}" name="sub_id">
                     <select type="number" name="status_value">
                         {% for status_value, status_name in all_statuses %}
                            {% if item.status == status_value %}
                                <option  selected value="{{ status_value }}">{{ status_name }}</option>
                            {% else %}
                                <option  value="{{ status_value }}">{{ status_name }}</option>
                            {% endif %}
                         {% endfor %}
                    </select>
                    <button type="submit">Confirm</button>
                  </form>
              </th>
            </tr>
     {% endfor %}
   </table>
</div>

{% endblock%}