<section class="pay-crypto">
	<div class="container">
		<h1>Payment by crypto wallet</h1>
		<p class="pay-crypto__label">Follow the simple 3 steps to complete ypur mapping.</p>
		<div class="pay-crypto__body">
			<div class="pay-crypto__progress bg-white">
				<div class="pay-crypto__progress-step current">
					<div class="pay-crypto__progress-number"><span>1</span></div>
					<div class="pay-crypto__progress-name">
						<strong>Select currency</strong>
						<p>Bitcoin, Ethereum, USDT</p>
					</div>
				</div>
				<div class="pay-crypto__progress-step">
					<div class="pay-crypto__progress-number"><span>2</span></div>
					<div class="pay-crypto__progress-name">
						<strong>Blockchain Network</strong>
						<p>BTC, Solana, BSC</p>
					</div>
				</div>
				<div class="pay-crypto__progress-step">
					<div class="pay-crypto__progress-number"><span>3</span></div>
					<div class="pay-crypto__progress-name">
						<strong>Pay</strong>
						<p>Data validation</p>
					</div>
				</div>
				<div class="pay-crypto__progress-step">
					<div class="pay-crypto__progress-number"><span>4</span></div>
					<div class="pay-crypto__progress-name">
						<strong>Proof of payment</strong>
						<p>Data validation</p>
					</div>
				</div>
			</div>
			<div class="pay-crypto__action">
				<div class="pay-crypto__action-step active">
					<p class="pay-crypto__action-count">Step 1/4</p>
					<h4>Please choose which currency you want to pay the subscription to</h4>
					<form>
						<label>
							<input type="radio" name="currency" checked>
							<span>Bitcoin</span>
						</label>
						<label>
							<input type="radio" name="currency">
							<span>Ethereum</span>
						</label>
						<label>
							<input type="radio" name="currency">
							<span>USDT</span>
						</label>
					</form>
				</div>
				<div class="pay-crypto__action-step">
					<p class="pay-crypto__action-count">Step 2/4</p>
					<h4>Please choose the Blockchain Network.</h4>
					<form>
						<label>
							<input type="radio" name="blockchain" checked>
							<span>Blockchain BTC network </span>
						</label>
						<label>
							<input type="radio" name="blockchain">
							<span>Blockchain Solana network </span>
						</label>
						<label>
							<input type="radio" name="blockchain">
							<span>Blockchain BSC network</span>
						</label>
					</form>
				</div>
				<div class="pay-crypto__action-step">
					<p class="pay-crypto__action-count">Step 3/4</p>
					<h4>
						<span>NETFLIX</span>
						<span>PREMIUM</span>
						<span>12 MN </span>
						<span>UHD 4K</span>
						<span>HDR = 140$</span>
					</h4>
					<div class="pay-crypto__action-pay-info">
						<div class="qr-code">
							<img src="" alt="qr-code">
						</div>
						<ul>
							<li>
								<span>The amount to be paid: </span>
								<strong>0.00158039 BTC</strong>
							</li>
							<li>
								<span>Blockchain: </span>
								<strong>BTC network</strong>
							</li>
						</ul>
					</div>
				</div>
				<div class="pay-crypto__action-step">
					<p class="pay-crypto__action-count">Step 4/4</p>
					<h4>Proof of payment</h4>
					<form>
						<p>Enter hash code</p>
						<input type="text"
							placeholder="0xb4bc263278d3f77a652a8d73a6bfd8ec0ba1a63923bbb4f38147fb8a943da26d">
					</form>
				</div>
				<div class="pay-crypto__congrats">
					<img src="./img/icons/step-3.svg" alt="congrats">
					<h3>Thank you, payment was successful!</h3>
				</div>
				<div class="pay-crypto__action-buttons">
					<button class="action-next popup__btn-blue">Next</button>
					<button class="action-prew ">Back</button>
				</div>
			</div>
		</div>
	</div>
</section>