{% extends 'main/base.html' %}
{% load i18n %}


{% block title %}

<title xmlns="http://www.w3.org/1999/html">{% trans "Profile" %}</title>

{% endblock%}

{% block body %}
  <h2>
    {% trans "MY SUBSCRIPTION" %}
  </h2>

<style>
  table, th, td {
  border: 1px solid;
}
</style>

<div style="min-height: 60%; display: block;">
  <div style="display: inline; float: left; margin: 20px;">
    <p><a href="{% url 'profile' %}">Profile info</a></p>
    <p><a href="{% url 'user_subscriptions' %}">My Subscriptions</a></p>
  </div>

  <div style="display: inline;   margin: 20px; ">
    <p><b>ID:</b> <input disabled value="{{ object.id }}"></p>
    <form  method="post">
      {{ form.errors }}
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}

                {{ message }}

            {% endfor %}
        </ul>
      {% endif %}
    </form>
  </div>
</div>

{% include "main/faq.html" %}

{% endblock%}