{% load i18n %}
<div class="invite bg-blue">
    <div class="invite__content">
        <h3>{% trans 'Invite friends' %}</h3>
        <p>{% trans 'Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY subscriptions with a secure payment from PAYPAL' %}</p>
    </div>
    <div class="invite__link-block">
        <p>{% trans 'Click on the link' %}</p>
        <div class="invite__link">
            <a href="https://t.me/DiscountsOnServices_bot?start=343964809">Discounts On Services</a>
            <button></button>
        </div>
    </div>
</div>