<div id="popup_11" class="popup">
	<div class="popup__body">
		<div class="popup__overlay"></div>
		<div class="popup__content">
			<a href="#header" class="popup__btn-close">
				<svg width="14" height="14" viewBox="0 0 14 14" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M6.99974 5.58574L11.9497 0.635742L13.3637 2.04974L8.41374 6.99974L13.3637 11.9497L11.9497 13.3637L6.99974 8.41374L2.04974 13.3637L0.635742 11.9497L5.58574 6.99974L0.635742 2.04974L2.04974 0.635742L6.99974 5.58574Z"
						fill="#3A3A3C" />
				</svg>
			</a>

			<div>
				<h3 class="popup__title">Purchase payment</h3>
			</div>

			<div class="popup__subtitle">Payment by crypto wallet</div>

			<div class="popup__payment-row">
				<p>
					<span>The amount to be paid: </span>
					<strong id="amount"> 0.00158039 BTC</strong>
				</p>
				<p>
					<span>Blockchain: </span>
					<strong id="blockchain_name">BTC network</strong>
				</p>
			</div>

			<div class="popup__copy-adress-wrap popup__flex-block">
				<p>You can copy the address:</p>
				<div class="popup__copy-adress">
					<p id="payment-link">3PGgmpAxfzDSyPAGPqdL2oe5yS78UytENU</p>
					<button></button>
				</div>
			</div>

			<div>
				<button id="" class="popup__btn-blue popup__btn-full">ok</button>
			</div>
		</div>
	</div>
</div>
