<div id="popup_1" class="popup">
    <div class="popup__body">
        <div class="popup__overlay"></div>
        <div class="popup__content">
            <a href="#header" class="popup__btn-close">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.99974 5.58574L11.9497 0.635742L13.3637 2.04974L8.41374 6.99974L13.3637 11.9497L11.9497 13.3637L6.99974 8.41374L2.04974 13.3637L0.635742 11.9497L5.58574 6.99974L0.635742 2.04974L2.04974 0.635742L6.99974 5.58574Z"
                        fill="#3A3A3C" />
                </svg>
            </a>

            <div>
                <h2 class="popup__title">Log in</h2>
                <p class="popup__note">
                    <span>New user?</span>
                    <a href="#" class="register-link">Create an account</a>
                </p>
            </div>

            <div class="popup__inputs">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    <div class="popup__input-block">
                        <p>Email Address</p>
                        {{ login_form.email }}
                        <div class="email_errors"></div>
                    </div>
                    <div class="popup__input-block popup__input-password">
                        <button class="toggle-show hide"></button>
                        <p>Password</p>
                        {{ login_form.password }}
                        <div class="password_errors"></div>
                    </div>
                    <span class="message"></span>
                </form>

            </div>
            <div class="popup__buttons-row">
                <a href="#" class="popup__forgot-pasw forgot-pass-link">Forfot password?</a>
                <a href="#" class="popup__btn-blue popup__btn-login login-button" tabindex="3">Log in</a>
            </div>
            <div class="sign-with">
                <div class="sign-with__title"> <span>Or sign in with</span></div>
                <div class="sign-with__socials">
                    <a class="sign-with__elem" href="{% url 'service:google-auth2'  %}"></a>
                    <div class="sign-with__elem"></div>
                    <div class="sign-with__elem"></div>

                </div>
            </div>
            <div class="popup__captcha">
                Protected by reCAPTCHA and subject to the Google <a href="##">Privacy Policy</a> and
                <a href="##">Terms of Service</a>
            </div>
        </div>
    </div>
</div>