
<div id="popup_9" class="popup">
    <div class="popup__body">
        <div class="popup__overlay"></div>
        <div class="popup__content">
            <a href="#header" class="popup__btn-close">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.99974 5.58574L11.9497 0.635742L13.3637 2.04974L8.41374 6.99974L13.3637 11.9497L11.9497 13.3637L6.99974 8.41374L2.04974 13.3637L0.635742 11.9497L5.58574 6.99974L0.635742 2.04974L2.04974 0.635742L6.99974 5.58574Z"
                        fill="#3A3A3C" />
                </svg>
            </a>

            <div>
                <h3 class="popup__title">Purchase payment</h3>
            </div>

            <div class="popup__payment-type-row">
                <button class="popup__btn-gpay"></button>
                <button class="popup__btn-applepay"></button>
            </div>

            <div class="popup__inputs">
                <div class="popup__input-block">
                    <p class="fz15">Card Number</p>
                    <input type="text" tabindex="1" placeholder="1234 1234 1234 1234">
                </div>
                <div class="popup__inputs-row">
                    <div class="popup__input-block">
                        <p class="fz15">Expiration Date</p>
                        <input type="text" placeholder="MM/ГГ" tabindex="2">
                    </div>
                    <div class="popup__input-block">
                        <p class="fz15">СVC</p>
                        <input type="number" placeholder="СVC" tabindex="3">
                    </div>
                </div>
            </div>

            <div class="popup__buttons-col">
                <button class="popup__btn-blue popup__btn-full">Pay with card</button>
                <form id="paypal-form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                  <button type="submit" class="popup__btn-white popup__btn-full" name="submit" alt="Buy it Now"></button>
                </form>
                <p>We do not collect information on your cards, everything is safe</p>
            </div>

            <div class="popup__subtitle">Payment by crypto wallet</div>

            <div class="popup__selects">
                <div class="popup__select-block">
                    <p>Select currency</p>
                    <select name="type-payment" class="select">
                        <option value="Bitckhain BTC network" selected>Bitckhain BTC network</option>
                        <option value="value 2">value 2</option>
                        <option value="value 3">value 3</option>
                    </select>
                </div>
            </div>

            <div>
                <button class="popup__btn-blue popup__btn-full payment-button">Pay</button>
            </div>
        </div>
    </div>
</div>